.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
.heroSection {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  left: auto;
  top: auto;
  align-self: center;
  min-width: 0;
  min-height: 0;
  background: #e2f7fa;
}
.heroRight:global(.__wab_instance) {
  position: absolute;
  top: 19px;
  left: 999px;
}
.heroLeft:global(.__wab_instance) {
  position: absolute;
  top: 207px;
  left: 375px;
}
.img__zdrIx {
  position: absolute;
  object-fit: cover;
  width: 162px;
  height: 162px;
  display: block;
  top: 479px;
  left: 818px;
  overflow: hidden;
}
.img__xiJfk {
  position: absolute;
  object-fit: cover;
  width: 112px;
  height: 112px;
  display: block;
  top: 258px;
  left: 875px;
  overflow: hidden;
}
.img__hbOwn {
  position: absolute;
  object-fit: cover;
  width: 72px;
  height: 72px;
  display: block;
  top: 116px;
  left: 996px;
  overflow: hidden;
}
.svg__rCokL {
  position: absolute;
  object-fit: cover;
  width: 76px;
  height: 76px;
  color: #fff;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.029);
  display: block;
  top: 403px;
  left: 799px;
}
.svg__yYPpN {
  position: absolute;
  object-fit: cover;
  width: 44px;
  height: 44px;
  color: #fff;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.029);
  display: block;
  top: 164px;
  left: 653px;
}
